@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');

* {
    box-sizing: border-box;
  }

  *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    background: #222;
    margin: 0;
    font-family: 'Cormorant Unicase', sans-serif;
    font-size: 16px;
    color: #FFF;
  }
  
  .container {
    max-width: 60em;
    min-width: 45em;
    margin: 0 auto;
    padding: 0 2em;
  }
  
  nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;
    margin-left: 15.8%;
  }

  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
  }

  nav li {
    display: inline-block;
    padding: 2em;
    text-align: center;
    transition: all .2s;
  }

  nav li:last-child {
    padding-right: 0;
  }

  nav a {
    color: #FFF;
    text-decoration: none;
    transition: all .3s;
  }

  nav a:hover {
    color: #DDD;
  }
  
  #icon {
    display: inline-block;
    padding-top: .7em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  #nav-bg {
    background: #000;
    position: fixed;
    height: 5em;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  
  header {
    position: relative;
    background-image: url(../img/about_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    z-index: 2;
  }

  header h1 {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
  }

  #about {
    font-family: 'Fontawesome', 'Source Sans Pro', sans-serif;
    background: #e3e7e8;
    height: 58em;
    padding: 5em 0;
  }

  #about p {
    line-height: 2em;
    font-size: 18px;
    margin: 0;
    color: #222;
  }

  #pattern img {
    width: 100%;
    height: 150px;
  }

  .stripe {
    width: 100%;
    background-image: linear-gradient(240deg, #fdd046, #f6c52f);
    padding: 5rem;
    -webkit-transform: rotate(-5deg) skew(-5deg);
            transform: rotate(-5deg) skew(-5deg);
    margin-top: 10rem;
  }
  
  .stripe__content {
    color: #000;
    margin-left: 40%;
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }

  .stripe__content h1{
    font-family: 'Cormorant Unicase', sans-serif;
    font-size: 30px;
    margin-bottom: 2%;
  }

  .stripe__content #more{
    width: 100px;
    height: 30px;
    border: solid #000 1px;
    padding-left: 26px;
    padding-bottom: 40px;
    margin-left: 120px;
  }

  .stripe__content #more a{
    text-decoration: none;
    color:#000;
  }

  .stripe__content #more a:hover{
    text-decoration:underline
  }
  