body::-webkit-scrollbar { 
    display: none; 
}

#wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

#wrap #work-img {
    position: absolute;
    width: 100%;
}
#work-img img {
    max-width: 100%;
}