@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Cormorant Unicase', sans-serif;
    font-size: 16px;
    color: #FFF;
  }
  
  .container {
    max-width: 60em;
    min-width: 45em;
    margin: 0 auto;
    padding: 0 2em;
  }
  
  nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;
    margin-left: 15.8%;
  }

  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
  }

  nav li {
    display: inline-block;
    padding: 2em;
    text-align: center;
    transition: all .2s;
  }

  nav li:last-child {
    padding-right: 0;
  }

  nav a {
    color: #FFF;
    text-decoration: none;
    transition: all .3s;
  }

  nav a:hover {
    color: #DDD;
  }
  
  #icon {
    display: inline-block;
    padding-top: .7em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
  }

  .container-video {
    position: relative;
    height: 100%;
    overflow: hidden;
    opacity: 0.01;
    -webkit-animation: load 1.5s 0.8s ease-out forwards;
            animation: load 1.5s 0.8s ease-out forwards;
  }
  .container-video #video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
  }
  
  @-webkit-keyframes load {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes load {
    100% {
      opacity: 1;
    }
  }
  .table-center {
    display: table;
    width: 100%;
    position: relative;
    height: 100%;
  }
  .table-center > div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: center;
  }
  .table-center > div h1 {
    color: #fff;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
    font-size: 50px;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: 'Cormorant Unicase', sans-serif;
  }

  .content {
    background-image: url(../img/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  
  .parallax-container {
    position: relative;
    height: 100%;
  }
  
  .parallax {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  