body {
    background-color: #fff;
}


/* ---- Header ---- */

.one,
.two,
.three {
    background: #000;
}

.title {
    color: #000;
}

.title a:visited {
    color: #000;
}


/* ---- Contents ---- */

article {
    position: fixed;
    top: 15%;
    bottom: 5%;
    left: 3%;
    right: 3%;
    width: 94%;
    height: 75%;
    background-color: #004cf8;
}

/* Dot nav */

.dot-nav {
    z-index: 100;
    position: fixed;
    top: 45%;
    right: 10%;
}

.dot-nav li {
    display: block;
    width: 10px;
    height: 10px;
    margin: 25px;
    border-radius: 50%;
    opacity: 0.5;
    list-style: none;
    background-color: #fff;
}

.dot-nav .selected {
    opacity: 1;
}


/* ---- Works Title ---- */

.title-section {
    top: 38%;
    left: 15%;
    position: absolute;
    width: 25%;
    height: 30%;
}

.title-section p {
    font-size: 2.3vw;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

.title-section span {
    margin-left: 50%;
}


/* ---- Works Section ---- */

.works-section {
    position: relative;
    width: 100%;
    height: 100%;
}

.section-wrap {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.section-wrap section {
    position: absolute;
    top: 10%;
    bottom: 10%;
    width: 60%;
    height: 80%;
    background-color: #fff;
}

.section-wrap section .blue-line {
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
    height: 8px;
    background-color: #004cf8;
}

.section-wrap section .works-title {
    z-index: 100;
    position: absolute;
    top: 23%;
    left: 10%;
    width: 80%;
    height: 55%;
}

.section-wrap section .works-title p {
    z-index: 100;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

.section-wrap section .view-btn {
    z-index: 100;
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 23%;
    height: 7%;
    border: 2px solid #004cf8;
    background-color: #fff;
    font-size: 1vw;
    text-align: center;
    line-height: 2;
    color: #004cf8;
}