/* ---- main contents ---- */

.main-wrap .main-img{
    z-index: 200;
    position: fixed;
    width: 52%;
    height: 100%;
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-wrap .skull{
    z-index: 100;
    position: fixed;
    top: 18%;
    right: 19%;
    width: 30%;
    height: 70%;
    background-image: url('../img/skull_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}


/* ---- draw line ---- */

.draw-line{
    position: fixed;
    top: 25%;
    right: 5%;
}

.content{   
    width: 1500px;
    height: 1500px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
  }
  .content .line{
    height: 2px;
    background: white;
    position: absolute;
    top: 10px;
    -webkit-animation: dude .75s 1 forwards;
    /* Safari 4+ */
    -moz-animation: dude .75s 1 forwards;
    /* Fx 5+ */
    -o-animation: dude .75s 1 forwards;
    /* Opera 12+ */
    animation: dude .75s 1 forwards;
    /* IE 10+, Fx 29+ */
  }
  .content .line2{
    position: absolute;
    width: 2px;
    background: white;
    top: 10px;
    right: 0;
    -webkit-animation: dude2 .75s 1 .75s forwards;
    /* Safari 4+ */
    -moz-animation: dude2 .75s 1 .75s forwards;
    /* Fx 5+ */
    -o-animation: dude2 .75s 1 .75s forwards;
    /* Opera 12+ */
    animation: dude2 .75s 1 .75s forwards;
    /* IE 10+, Fx 29+ */
  }
  
  @-webkit-keyframes dude{
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @-moz-keyframes dude{
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @-o-keyframes dude{
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes dude{
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @-webkit-keyframes dude2{
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  @-moz-keyframes dude2{
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  @-o-keyframes dude2{
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  @keyframes dude2{
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  @-webkit-keyframes dude3{
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  @-moz-keyframes dude3{
    0% {
      -moz-transform: scale(0);
    }
    100% {
      -moz-transform: scale(1);
    }
  }
  @-o-keyframes dude3{
    0% {
      -o-transform: scale(0);
    }
    100% {
      -o-transform: scale(1);
    }
  }
  @keyframes dude3{
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
